.cart{
    &-page{
        padding-top: 50px;
    }

    &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding: 15px 0;
        &-img{
            width: 250px;
        }

        &-right,
        &-left{
            display: flex;
            align-items: center;
            column-gap: 15px;
        }

        &-count{
            display: flex;
            align-items: center;
            column-gap: 5px;
        }
    }
}
